@import url('fonts/PublicPixel');

html,
body {
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  min-height: -webkit-fill-available;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'PublicPixel';
}

body {
  position: relative;
  background-color: #839f7c;
  background-image: url('images/back.png');
  image-rendering: pixelated;
  background-position: center;
}

#logo {
  width: calc(100% - 40px);
  max-width: 450px;
  margin-bottom: -60px;
}

#progress {
  width: calc(100% - 40px);
  max-width: 700px;
  border: 3px solid #fff;
  border-radius: 10px;
  height: 40px;
  position: relative;

  [data-layer] {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.3s;
    background-color: #fff;
    opacity: .4;
  }
}

.loader {
  position: absolute;
  inset: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border: 2px solid #fff;
  z-index: 1;
  opacity: 1;
  transition: opacity .4s;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url('images/noise.png');
  background-size: 400px;
  image-rendering: pixelated;
  background-position: center;
}

canvas {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity .4s;
}

button {
  border-top: 2px solid #E6EAE6;
  border-left: 2px solid #E6EAE6;
  border-bottom: 2px solid #A9AFA9;
  border-right: 2px solid #A9AFA9;
  background-color: #fff;
  padding: 0px 20px;
  height: 70px;
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
  color: #000;
}

.loading {
  height: 30px;
  line-height: 30px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
}

button:active {
  background-color: #D7DAD7;
  border-color: #E6EAE6;
}